# Windows
Thumbs.db
Desktop.ini
*.log

# VS Code
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
venv/
.venv/

# IDE
.idea/
*.swp
*.swo

# OS
.DS_Store
